*{
    padding: 0;
    margin: 0;
}


header h1{
    background: rgb(208, 248, 208);
    text-align: center;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    list-style: none;
    padding: 20px 50px;
    /* margin: 0px 50px; */
    background-color: rgb(236, 235, 235);
    color: green;
    font-weight: bold;
    
}

main img{
    width: 99vw;
    box-sizing: border-box;
    object-fit: contain;
}